<div class="piano-container">
  <ul id="keyboard">
    <li (mousedown)="onMouseDown(261.63)" (mouseup)="onMouseUp()" 
        note="C3" class="white">A</li>
    <li (mousedown)="onMouseDown(277.18)" (mouseup)="onMouseUp()"
        note="C#" class="black">W</li>
    <li (mousedown)="onMouseDown(293.66)" (mouseup)="onMouseUp()"
        note="D" class="white offset">S</li>
    <li (mousedown)="onMouseDown(311.13)" (mouseup)="onMouseUp()"
        note="D#" class="black">E</li>
    <li (mousedown)="onMouseDown(329.63)" (mouseup)="onMouseUp()"
        note="E" class="white offset">D</li>
    <li (mousedown)="onMouseDown(349.23)" (mouseup)="onMouseUp()"
        note="F" class="white">F</li>
    <li (mousedown)="onMouseDown(369.99)" (mouseup)="onMouseUp()"
        note="F#" class="black">T</li>
    <li (mousedown)="onMouseDown(392.00)" (mouseup)="onMouseUp()"
        note="G" class="white offset">G</li>
    <li (mousedown)="onMouseDown(415.30)" (mouseup)="onMouseUp()"
        note="G#" class="black">Y</li>
    <li (mousedown)="onMouseDown(440.00)" (mouseup)="onMouseUp()"
        note="A" class="white offset">H</li>
    <li (mousedown)="onMouseDown(466.16)" (mouseup)="onMouseUp()"
        note="A#" class="black">U</li>
    <li (mousedown)="onMouseDown(493.88)" (mouseup)="onMouseUp()"
        note="B" class="white offset">J</li>
    <li (mousedown)="onMouseDown(523.25)" (mouseup)="onMouseUp()"
        note="C2" class="white">K</li>
    <li (mousedown)="onMouseDown(554.37)" (mouseup)="onMouseUp()"
        note="C#2" class="black">O</li>
    <li (mousedown)="onMouseDown(587.33)" (mouseup)="onMouseUp()"
        note="D2" class="white offset">L</li>
    <li (mousedown)="onMouseDown(622.25)" (mouseup)="onMouseUp()"
        note="D#2" class="black">P</li>
    <li (mousedown)="onMouseDown(659.25)" (mouseup)="onMouseUp()"
        note="E2" class="white offset">;</li>
  </ul>

</div>